wp-config.php
src/wp-content/themes/timtec/dist
src/wp-content/themes/timtec/node_modules
src/wp-content/themes/timtec/bower_components
src/wp-content/uploads
private-files/
src/revision.txt
.vagrant/
