.contato {

    #fbuilder {

        .medium {
            width: 100% !important;
            padding-left: 0;
            padding-right: 0;
            padding: 6px;
        }

        .small {
            width: 100% !important;
            padding-left: 0;
            padding-right: 0;
            padding: 6px;
        }

        .fields {
            label {
                color: #666;
                font-family: 'Teuton24Pro';
                font-size: 22px;
                font-weight: normal;
                padding: 9px 30px 9px 0;
                text-align: right;
                width: 190px;
            }
        } 
        input, textarea {
            border: 1px solid #ccc;
            padding: 12px 6px !important; 
        }
        .pbreak .pbPrevious, .pbreak .pbNext, .pbSubmit {
            float: right;
        }
        .pbSubmit {
            text-align: center;
            background: $cyan-blue;
            color: #fff;
            font-family: $teuton23;
            font-size: 1.5em;
            display: inline-block;
            border-radius: 0;
            text-transform: uppercase;
            margin: 10px 0;
            width: 150px;
            @media screen and (min-width: $screen-sm-min) {
                margin-right: 50px;
            }
            @media screen and (min-width: $screen-md-min) {
                margin-right: 130px;
            }
            @media screen and (min-width: $screen-lg-min) {
                margin-right: 195px;
            }
        }
    }
    @media screen and (max-width: $screen-xs-max) {
        #fbuilder {
            .fields {
                padding: 15px 0 0;
                label {
                    float: none;
                    padding-bottom: 0;
                    text-align: left;
                }
                .dfield {
                    float: none;
                    width: 100%;
                }
            } 
            input, textarea {
                border: 1px solid #ccc;
                padding: 12px 6px !important; 
                margin: 0;
            }
        }
    }
}
