#page-course {
    &.base-content {
        margin-top: 0;
    }
    .banner {
        background-color: #0aa8b2;
        .carousel {
            height: 360px;
            overflow: hidden;
            @media screen and (min-width: $screen-md-min) {
                background: url('../images/ilustra-header-cursos.png') no-repeat;
                background-position: right 40px;
            }
            .title {
                background-image: url('../images/icones-cursos.png');
                color: $timtec-blue;
                font-family: $teuton24;
                text-transform: uppercase;
            }
            .carousel-indicators {
                @media screen and (min-width: $screen-xs-min) {
                    bottom: initial;
                    left: 0px;
                    margin-left: 0;
                    top: 190px;
                    width: 110px;
                    @media screen and (min-width: $screen-sm-min) {
                        top: 225px;
                    }
                    @media screen and (min-width: $screen-md-min) {
                        left: 90px;
                    }
                    li {
                        background-color: transparent;
                        border: 0;
                        border-radius: 0; 
                        display: block;
                        height: auto;
                        margin-bottom: 3px;
                        width: 110px;
                        text-align: left;
                        text-indent: 0;
                        span {
                            background-color: #b8c8c9;
                            color: #fff;
                            display: inline-block;
                            font-family: $teuton22;
                            font-size: 14px;
                            line-height: 1.3;
                            transition: all 0.3s ease;
                            &.number {
                                text-align: center;
                                width: 15px;
                            }
                            &.text {
                                display: inline-block;
                                padding-left: 5px;
                                width: 75px;
                            }
                        }
                        &.active {
                            span {
                                background-color: $timtec-blue;
                                font-family: $teuton24;
                                font-size: 16px;
                            }
                        }
                        &:hover {
                            span {
                                background-color: #0000ff;
                                font-family: $teuton24;
                                font-size: 16px;
                                line-height: 1.5;
                                &.text {
                                    width: 90px;
                                }
                            }
                        }
                    }
                }
            }
            .carousel-inner {
                color: #fff;
                font-size: 13px;
                height: auto;
                left: 0;
                position: absolute;
                right: 0;
                top: 115px;
                width: auto;
                @media screen and (min-width: $screen-xs-min) {
                    left: 120px;
                    top: 187px;
                }
                @media screen and (min-width: $screen-sm-min) {
                    font-size: 14px;
                    top: 222px;
                }
                @media screen and (min-width: $screen-md-min) {
                    left: 215px;
                    right: 115px;
                }
                @media screen and (min-width: $screen-lg-min) {
                    font-size: 16px;
                }
                .mobile-text {
                    background-color: $timtec-blue;
                    color: #fff;
                    display: inline-block;
                    font-family: $teuton24;
                    font-size: 14px;
                    line-height: 1.3;
                    margin-right: 2px;
                    padding: 0px 5px;
                    @media screen and (min-width: $screen-xs-min) {
                        display: none;
                    }
                }
            }
        }
    }
    h3 {
        border-bottom: 1px solid $timtec-blue;
        display: none;
        font-size: 3em;
        padding-bottom: 5px;
        @media screen and (min-width: $screen-xs-min) {
            display: block;
        }
    }
    #section2 {
        background: transparent;
        padding: 0;

        .list-courses {
            height: 710px;
            overflow: hidden;
            @media screen and (min-width: $screen-sm-min) {
                height: 840px;
            }
            &.open {
                height: auto;
            }
            .thumb {
                background-size: cover;
                height: 200px;
                width: 100%;
                margin-bottom: 8px;
            } 
        }
        .show-more-courses {
            color: $navy-blue;
            cursor: pointer;
            margin: 35px 0 0;
            text-align: center;
            p {
                font-family: $teuton25;
                font-size: 1.6em;
                line-height: 1.3;
                margin: 0;
            }
            .fa {
                font-size: 2.5em;
                font-weight: bold;
            }
        }

        ul {
            margin: 0;
            padding: 0;
    
            li {

                margin-top: 1.5em;
                display: block;
                background: #fff;
                height: 330px;
                margin: 0 auto 20px;
                max-width: 355px;
                overflow: hidden;
                text-align: left;
                vertical-align: top;
                width: 100%; 
                border-bottom: 1px solid #bbb;
                @media screen and (min-width: $screen-sm-min) {
                    height: 360px;
                }
                @media screen and (min-width: $screen-sm-min) {
                    display: inline-block;
                    height: 366px;
                    margin: 1%;
                    margin-top:1.5em;
                    width: 47.6%;
                }
                @media screen and (min-width: $screen-md-min) {
                    margin: 1%;
                    margin-top:1.5em;
                    width: 31%;
                }
                @media screen and (min-width: $screen-lg-min) {
                    width: 31.1%;
                }
                
                img {
                    width: 100%;
                }
                
                .content-curso {
                    .content-lista{
                        height:124px;
                        display: block;
                        margin-top: 3px;
                    }

                    .institute{
                        display:block;
                    }
                    
                    h4 {
                        color: #4d4d4d;
                        font-family: $font-family-sans-serif;
                        font-size: 1.2em;
                        font-weight: bold;
                        line-height: 1.3;
                        margin: 3px 0; 

                        a{
                            color: #4d4d4d;
                        }
                    }

                    .author, .institute {
                        color: #333;
                        font-size: 0.9em; 
                        line-height: 1.3;
                    } 

                    .author {

                    }



                    a {
                        color: #095DAF;
                        &.moretag {
                            color: $cyan-blue;
                            text-decoration: underline; 
                            &:hover {
                                text-decoration: none;
                            }
                        }
                        &.goto, &.download {
                            float: left;
                        }
                        &.goto {
                            background-color: rgba(0, 193, 179, 0.5);
                            font-family: $teuton26;
                            margin: 0;
                            padding: 2px 12px;
                            width: auto;
                            color:#FFF;
                            &:hover { 
                                background-color: rgba(0, 193, 179, 1);
                            }
                            &:focus, &:active {
                                background-color: rgba(0, 193, 179, 1);
                            }
                        }
                        &.download {
                            color: rgba(255, 137, 105, 0.7);
                            display: block;
                            font-family: $teuton24;
                            margin: 4px 0 0 8px;
                            text-decoration: none;
                            text-transform: initial;
                            transition: color 1s ease;
                            &:hover { 
                                color: rgba(255, 137, 105, 1) ;
                            }
                            &:focus, &:active {
                                color: rgba(255, 137, 105, 1) ;
                            }
                        }
                    }
                }
            }
        }
    }
}


#single-course{
    margin-top:0px;

    .banner{
        background-color: #0aa8b2;
        height: 240px;
        overflow: hidden;

        .title{
            background-image: url('../images/icones-cursos.png');
            color: $timtec-blue;
            font-family: $teuton24;
            text-transform: uppercase;
            position: absolute;
            top: 40px;
            background-size: 75px 75px;
            font-size: 60px;
            min-height: 75px;
            padding-left: 90px;
            background-repeat: no-repeat;
            background-position: 0px 13px;

            .subtitle{
                color: #FFF;
                display: block;
                font-family: Teuton22Pro,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
                font-size: 36px;
                text-transform: initial;
            }
        }
    }

    .entry-title{
        font-family: Teuton22Pro,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    .colunm-content{
        padding: 0px;
        @media screen and (max-width: $screen-sm-max) {
            margin-bottom: 30px;
        }
    }

    .colunm{
        margin: 10px 0px;
    }

    h4 {
        color: #000;
        margin-top: 0px;
        margin-bottom: 10px;
        @media screen and (max-width: $screen-sm-max) {
            margin-top: 30px;
        }
    }

    p{
        margin-right: 20px;
    }

    hr{
        border-color: #D2D2D2;
        margin:20px 0px;
    }

    a {
        color: #095DAF;
        &.moretag {
            color: $cyan-blue;
            text-decoration: underline; 
            &:hover {
                text-decoration: none;
            }
        }
        &.goto, &.download {
            float: left;
        }
        &.goto {
            background-color: #33cdc2;
            font-family: $teuton26;
            margin: 0;
            padding: 2px 12px;
            width: auto;
            color:#FFF;
            &:hover { 
                background-color: #00c1b3;
            }
            &:focus, &:active {
                background-color: #009186;
            }
        }
        &.download {
            color: #ff8969;
            display: block;
            font-family: $teuton24;
            margin: 4px 0 0 8px;
            text-decoration: none;
            text-transform: initial;
            transition: color 1s ease;
            &:hover { 
                color: #e8684e;
            }
            &:focus, &:active {
                color: #e8684e;
            }
        }
    }

    .instrutor{
        display:inline-block;
        margin-right: 20px;

        a, span.prof{
            color: #05C3FF;
            font-size: 1.2em;
        }
    }

    .instituto{
        display:inline-block;
        span{
            color: #05C3FF;
        }
    }

    .video-curso{
        iframe{
            width:100%;
            height: 300px;
        }

        img{
            width: 100%;
        }
    }

    .infos-curso{
        margin-top:20px;
        margin-left:5px;
        font-family: Teuton25Proon24Pro,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 0.9em;
        span{
            color: #000;
            font-weight:bold;
        }
    }

    .instrutores{
        font-family: Teuton22Pro,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        margin-left:5px;

        h5{
            font-size: 1.2em;
            font-family: Teuton24Pro,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        }

        .instrutor{
            margin-right:0px;
            margin-bottom: 10px;
            .circular{
                width: 90px;
                height: 90px;
                border-radius: 150px;
                -webkit-border-radius: 150px;
                -moz-border-radius: 150px;
                display: block;
            }

            a{
                font-family: Teuton24Pro,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
                color: #05C3FF;
                font-size: 1.1em;
                display: block;
                margin: 10px 0px 2px;;
            }

            p{
                color:#000;
                font-size: 1em;
                line-height: 14px;
            }
        }
    }

    .side-curso{
        margin-right: 0px;
        padding-right: 0px;
        padding-left: 0;
        @media screen and (min-width: $screen-md-min) {
            padding-left: 40px;
        }
        @media screen and (max-width: $screen-sm-max) {
            margin-top: 30px;
        }

        p {
            margin-right: 0px;
        }
    }
}
    