.page {
    .banner {
        margin-bottom: 20px;
        position: relative;
        @media screen and (min-width: $screen-sm-min) {
            height: 360px;
            margin-bottom: 40px;
        }
        .container {
            position: relative;
            @media screen and (min-width: $screen-sm-min) {
                height: 360px;
            }
        }
        .title {
            background-position: center left;
            background-repeat: no-repeat;
            background-size: 60px 60px;
            color: #fff;
            font-family: $teuton24;
            font-size: 40px;
            margin: 30px 0;
            min-height: 60px;
            padding-left: 80px;
            @media screen and (min-width: $screen-xs-min) {
                background-size: 75px 75px;
                font-size: 60px;
                min-height: 75px;
                padding-left: 90px;
            }
            @media screen and (min-width: $screen-sm-min) {
                position: absolute;
                top: 30px; 
            }
            .subtitle {
                color: #fff;
                display: block;
                font-family: $teuton22;
                font-size: 24px;
                text-transform: initial;
                @media screen and (min-width: $screen-xs-min) {
                    font-size: 36px;
                }
            }
        }
        .info {
            color: #fff;
            font-size: 13px;
            margin-bottom: 30px;
            @media screen and (min-width: $screen-sm-min) {
                position: absolute;
                left: 15px;
                right: 15px;
                top: 180px;
                margin-bottom: 0;
                margin-left: 92px;
                max-width: 400px; 
            }
            @media screen and (min-width: $screen-md-min) {
                max-width: 600px;
            }
            @media screen and (min-width: $screen-lg-min) {
                max-width: 800px;
            }
        }
    }
}