#page-default-template {
    &.base-content {
        margin-top: 0;
        p {
            font-size: 1.2em;
            line-height: 170%;
            margin-bottom: 20px;
        }
    }
    .banner {
        background-color: #304594;
        .title {
            text-transform: uppercase;
        }
        .info { 
            color: #fff;
            top: 200px;
            @media screen and (min-width: $screen-sm-min) {
                max-width: 400px; 
            }
            @media screen and (min-width: $screen-md-min) {
                max-width: 600px;
                top: 240px;
            }
            @media screen and (min-width: $screen-lg-min) {
                max-width: 800px;
            }
        }
    }
    .page-content {
        h2 {
            color: $timtec-blue;
            font-family: $teuton25;
            font-size: 36px;
        }
        .featured {
            color: $timtec-blue;
            font-family: $teuton25;
            font-size: 52px;
            line-height: 130%;
            text-align: center;
            @media screen and (min-width: $screen-md-min) {
                float: left;
                margin-right: 20px;
                text-align: left;
                width: 40%;
            }
            @media screen and (min-width: $screen-lg-min) {
                width: 30%;
            }
        }
    }
    .page-featured {
        margin: 40px 0;

        margin-left: -2%;
        margin-right: -2%;

        @media screen and (min-width: $screen-sm-min) {
            margin-left: -20%;
            margin-right: -20%;
        }
        
        @media screen and (min-width: $screen-lg-min) {
            margin-left: -50%;
            margin-right: -50%;
        }



        .title {
            @extend .container;
            color: $timtec-blue;
            font-family: $teuton25;
            font-size: 60px;
            margin-bottom: 70px;
            text-align: center;
        }
        .subtitle {
            color: #fff;
            font-family: $teuton25;
            font-size: 32px;
            margin: 20px 0 0;
        }
        .featured-line {
            background-color: $cyan-blue;
        }
        .featured-box {
            @extend .col-xs-12;
            color: #fff;
            text-align: center;
            margin-top: 15px;
            @media screen and (min-width: $screen-sm-min) {
                margin-top: -50px;
                @extend .col-sm-4;
            }
            @media screen and (min-width: $screen-md-min) {
                @extend .col-md-4;
            }
            @media screen and (min-width: $screen-lg-min) {
                @extend .col-lg-4;
            }
            p {
                margin: 15px;
            }
        }
    }
}
.page-about {
    .banner {
        .container {
            background: url('../images/ilustra-topo-sobre.png') no-repeat;
            background-position: right 40px;
        }
        .title {
            background-image: url('../images/icones-sobre.png');
        }
    }
}

.page-network {
    .banner {
        .container {
            background: url('') no-repeat;
            background-position: right 40px;
        }
        .title {
            background-image: url('../images/icones-redes.png');
        }
    }
}

.page-software {
    .banner {
        .container {
            background: url('') no-repeat;
            background-position: right 40px;
        }
        .title {
            background-image: url('../images/icones-software.png');
        }
    }
}
