.page {
    .banner {
        height: 360px;
        margin-bottom: 20px;
        position: relative;
        @media screen and (min-width: $screen-sm-min) {
            margin-bottom: 40px;
        }
        .container {
            height: 360px;
            position: relative;
        }
        .title {
            background-position: center left;
            background-repeat: no-repeat;
            background-size: 60px 60px;
            color: #fff;
            font-family: $teuton24;
            font-size: 40px;
            margin: 0;
            min-height: 60px;
            padding-left: 80px;
            position: absolute;
            top: 30px;
            @media screen and (min-width: $screen-xs-min) {
                background-size: 75px 75px;
                font-size: 60px;
                min-height: 75px;
                padding-left: 90px;
                top: 50px;
            }
            @media screen and (min-width: $screen-sm-min) {
                top: 80px; 
            }
            .subtitle {
                color: #fff;
                display: block;
                font-family: $teuton22;
                font-size: 24px;
                text-transform: initial;
                @media screen and (min-width: $screen-xs-min) {
                    font-size: 36px;
                }
            }
        }
        .info {
            position: absolute;
            left: 15px;
            right: 15px;
            top: 170px;
            @media screen and (min-width: $screen-sm-min) {
                margin-left: 92px;
                top: 200px;
            }
            @media screen and (min-width: $screen-lg-min) {
                top: 240px;
            }
        }
    }
}