#page-faq {
    margin-top:0px;

    .banner{
        height: 260px;
        margin-bottom: 80px;
    }

    h3 {
        margin-top: 0;
    }
    .panel-group {
        .panel+.panel {
            margin-top: 15px;
        }
    }
    .panel-default {
        border: 0;
        box-shadow: none;
        >.panel-heading {
            background: transparent;
            border: 1px solid #ccc;
            border-radius: 0;
            padding: 0;
            .panel-title {
                color: #666;
                font-weight: normal;
                margin: 0;
                width: 100%;
                a {
                    color: #666;
                    display: table;
                    overflow: hidden;
                    padding: 10px;
                    width: 100%;
                    &:hover, &:active, &:focus { 
                        background: #eee;
                        text-decoration: none;
                    }
                    .text {
                        display: table-cell;
                        font-size: 18px;
                        line-height: 120%;
                        margin-right: 50px;
                        vertical-align: middle;
                        @media screen and (min-width: $screen-sm-min) {
                            font-size: 21px;
                            line-height: 145%;
                        }
                    }
                    .icon-wrapper {
                        display: table-cell;
                        text-align: center;
                        vertical-align: middle;
                        width: 30px;
                        .icon {
                            background-color: #1fd4cd;
                            border-radius: 50%;
                            display: block;
                            height: 30px;
                            width: 30px;
                            &:before {
                                color: #fff;
                                content: '+';
                                font-family: 'Open Sans', sans-serif;
                                font-size: 27px;
                                font-weight: bold;
                                line-height: 110%;
                            }
                        }
                    }
                }
                a[aria-expanded="true"] {
                    .icon {
                        background-color: #e6785f;
                        &:before {
                            content: '–'; 
                            line-height: 95%;
                        }
                    }
                }
            }
        }
        .panel-body {
            border: 0;
            padding: 20px 30px;
            p {
                color: #999;
                font-size: 1em;
                @media screen and (min-width: $screen-sm-min) {
                    font-size: 1.1em;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}