#page-forum {
    margin-bottom: 50px;
    .not-found {
        .dwqa-btn {
            color: #fff;
            margin-left: 10px;
        }
        a {
            color: $navy-blue;
        }
    }

    .banner {
        height: 40px;
        min-height: 160px;
        background-color: #243670;
        .title {
            background-image: url(../images/icones-redes.png);
            padding-top: 10px;
            text-transform: uppercase;
            color: #fff;
            margin-top: 10px;
        }

        @media ( max-width: 770px ){
            .container{
                background: none;

                .info{
                    margin: 170px 50px 20px 92px
                }
            }
        }
    }

    .dwqa-search{ 
        .dwqa-search-form{
            color: #000;
            .dwqa-search-submit{
                font-size: 20px;
            }
        }
    }
}

.type-dwqa-question {
    h1 {
        font-size: 24px;
        margin: 36px 0 24px; 
    }
    .byline {
        font-size: 12px;
        margin: 24px 0;
    }
    .dwqa-comments {
        margin-top: 36px;
    }
    .dwqa-headline {
        border-top: 0;
        font-family: $font-family-sans-serif;
        margin-top: 24px;
    }
    .dwqa-favourite {
        width: auto;
    }
    .dwqa-single-question .dwqa-current-status .dropdown-toggle, .dwqa-single-question .dwqa-current-status .dwqa-status-name, .dwqa-single-question .dwqa-question .dwqa-actions .dropdown-toggle {
        font-size: 12px;
    }
    .dwqa-question {
        overflow: hidden;
    }
    #dwqa-answers {
        margin-top: 24px; 
    }
}