#page-news {
    &.base-content {
        margin-top: 0;
    }
    .post-category {
        color: #fff;
        display: inline-block;
        font-family: $teuton25;
        font-size: 13px;
        padding: 2px 5px;
        text-transform: uppercase;
        &.orange {
            background-color: $orange;
        }
        &.blue {
            background-color: $cyan-blue;
        }
    }
    .post-title {
        color: #000;
        font-family: $font-family-sans-serif;
        font-size: 24px;
        font-weight: bold;
        margin: 0;
        @media screen and (min-width: $screen-xs-min) {
            font-size: 30px;
        }
        a {
            color: #000;
            font-weight: 600; 
            webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
    .post-excerpt {
        a {
            color: #000;
        }
    }
    .banner {
        background-color: #304594;
        height: 300px;
        .container {
            @media screen and (min-width: $screen-md-min) {
                background: url('../images/ilustra-header-news.png') no-repeat; 
                background-position: right 80px;
            }
        }
        .title {
            background-image: url('../images/icones-header-news.png');
            padding-top: 10px;
            text-transform: uppercase;
        }

        @media ( max-width: 770px ){
            .container{
                background: none;

                .info{
                    margin: 170px 50px 20px 92px
                }
            }
        }
    }
    .news-box {
        background-position: center;
        background-size: cover;
        display: table;
        position: relative;
        width: 100%;
        
        .gradient {
            content: '';
            width:100%;
            height:100%; 
            position: absolute;
            background: rgba(255,255,255,0.9);
            background: -moz-linear-gradient(top, rgba(255,255,255,0.9) -131%, rgba(255,255,255,0.1) 0%, rgba(146,146,146,0.9) 36%, rgba(0,0,0,0.97) 82%, rgba(0,0,0,1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(-131%, rgba(255,255,255,0.9)), color-stop(0%, rgba(255,255,255,0.9)), color-stop(36%, rgba(146,146,146,0.1)), color-stop(82%, rgba(0,0,0,0.97)), color-stop(100%, rgba(0,0,0,1)));
            background: -webkit-linear-gradient(top, rgba(255,255,255,0.9) -131%, rgba(255,255,255,0.1) 0%, rgba(146,146,146,0.9) 36%, rgba(0,0,0,0.97) 82%, rgba(0,0,0,1) 100%);
            background: -o-linear-gradient(top, rgba(255,255,255,0.9) -131%, rgba(255,255,255,0.1) 0%, rgba(146,146,146,0.9) 36%, rgba(0,0,0,0.97) 82%, rgba(0,0,0,1) 100%);
            background: -ms-linear-gradient(top, rgba(255,255,255,0.9) -131%, rgba(255,255,255,0.1) 0%, rgba(146,146,146,0.9) 36%, rgba(0,0,0,0.97) 82%, rgba(0,0,0,1) 100%);
            background: linear-gradient(to bottom,rgba(255,255,255,.9) -70%,rgba(255,255,255,.1) 9%,rgba(0,0,0,0.8) 80%,rgba(0,0,0,.9) 6%,#000 10%);
        }
    }
    .main-news {
        margin-right:1.5%;
        margin-left: 13px;
        @extend .col-xs-12;


        @media screen and (min-width: $screen-sm-min) {
            @extend .col-sm-7;
        }
        @media screen and (min-width: $screen-md-min) {
            width: 63%;
        }
        @media screen and (min-width: $screen-lg-min) {
            width: 69%;
            max-width:768px;
        }
        .featured {
            @extend .row;
            .featured-big {
                @extend .col-xs-12;
                margin-bottom: 20px;
                position: relative;
                padding: 0px;
                
                @media screen and (min-width: $screen-sm-min) {
                    @extend .col-sm-12;
                }
                
                @media screen and (min-width: $screen-md-min) {
                    @extend .col-md-12;
                }
                
                @media screen and (min-width: $screen-lg-min) {
                    @extend .col-lg-12;
                }
                
                height: 512px;

                .news-box {
                    height: 512px;
                }
                .post-excerpt {
                    display: none;
                    @media screen and (min-width: $screen-sm-min) {
                        display: block;
                    }
                }
            }
            .featured-small {
                height: 244px;
                max-width: 366px;
                margin-bottom: 78px;
                margin-top:36px;
                padding: 0px;

                & + .featured-small{
                    margin-left: 36px  
                }



                @media screen and (min-width: $screen-sm-min) {
                    @extend .col-sm-6;
                }
                @media screen and (min-width: $screen-md-min) {
                   width: 47%;
                }
                @media screen and (min-width: $screen-lg-min) {
                    @extend .col-lg-6;
                }
                .news-box {
                    height: 244px;
                }
                .post-title { 
                    font-size: 20px;
                    @media screen and (min-width: $screen-sm-min) {
                        margin-top: 80px;
                    }
                }
            }
            .news-box {
                .post-category {
                    z-index: 10;
                    position: relative;
                    margin: 20px;
                }
                .post-title { 
                    color: #fff;
                    padding: 0 15px;
                    position: relative;
                    z-index: 10;
                    a {
                        color: #fff;
                    }
                }
                .post-excerpt {
                    color: #fff;
                    padding: 0 15px;
                    position: relative;
                    z-index: 999;
                    a {
                        color: #fff;
                    }
                }
            }
            .clearfix {
                display: table-row;
            }
            .info {
                display: table-cell;
                padding-bottom: 10px;
                vertical-align: bottom;
                @media screen and (min-width: $screen-sm-min) {
                    padding-bottom: 5px;
                }
            }
        }
        .list {
            margin-left: -15px;
            margin-right: -15px;

            .list-title {
                color: #000;
                font-family: $teuton25;
                font-size: 36px;
                margin: 0 0 25px 0;
            }
            .list-item {
                border-bottom: 1px solid #808080;
                margin-bottom: 50px;
                padding-bottom: 25px;
                &:last-child {
                    border: 0;
                    margin-bottom: 0;
                }
            }
            .post-date { 
                float: right;
                font-size: 11px;
            }
            .post-title {
                font-size: 24px;
                margin: 15px 0;
            }
        }

        a{
            &.btn-ver-mais{
                text-align: center;
                background: #5170B3;
                color: #fff;
                display: inline-block;
                margin: 5px;
                padding: 6px 18px;
                font-size: 1.3em;
                border-radius: 8px;
                text-transform: initial;
                font-family: Teuton25Pro,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
                font-weight: 400;
                margin-left:-15px;
                margin-top:15px;
            }
        }
    }
    .sidebar-news {
        @extend .col-xs-12;

        @media screen and (min-width: $screen-sm-min) {
            @extend .col-sm-4;
        }

        @media screen and (min-width: $screen-md-min) {
            @extend .col-md-4;
        }

        @media screen and (min-width: $screen-lg-min) {
            width: 28%;
            max-width: 300px;
            margin: 0px;
            padding: 0px;
            margin-left: 56px;
        }

        .sidebar-title {
            background-color: #304594;
            color: #fff;
            font-family: $teuton27;
            margin: 0;
            padding: 10px;
            text-align: center; 
            text-transform: uppercase;
        }

        a {
            color: #05C3FF;
            cursor: pointer;
        }
        
        .wff-fb-item{
           margin: 10px 10px 0px!important;

           &:last-child{
                border-bottom:0px!important;
           }

           .wff-shared-link-wrapper{
                display:none!important;
            }
        }



        .widget {
            
            border: 4px solid #3b5998;
            margin-bottom: 40px;
            margin-top:0px;

            .sidebar-title {
                background-color:#3b5998;
            }

            &.widget_twitter_timeline {
                border: 4px solid $cyan-blue;
                a {
                    color: $cyan-blue;
                }
                .sidebar-title {
                    background-color: #05c3ff;
                    iframe{
                        padding: 0px 10px;
                    }
                }

                iframe{
                    padding:10px!important;
                }
            }
        }
        .last-news {
            border: 4px solid $orange;
            .list-item {
                border-bottom: 1px solid #304594;
                margin: 15px;
                padding-bottom: 15px;
                text-align: center;
                &:last-child {
                    border: 0;
                    margin-bottom: 0;
                }
            }
            .news-box {
                height: 120px;
                margin: 0 10px; 
            }
            .post-title {
                font-size: 16px;
                margin-bottom: 5px;
            }
            .post-date {
                display: block;
                font-size: 11px;
                margin-bottom: 10px;
            }
            .post-category { 
                margin-top: 98px;
            }
        }
        .twitter-news {

            .list-item {
                border-bottom: 1px solid #808080;
                margin: 15px;
                padding-bottom: 15px;
                &:last-child {
                    border: 0;
                    margin-bottom: 0;
                }
            }
            .twitter-avatar {
                float: left;
                margin: 0 10px 10px 0;
                img { 
                    height: 50px;
                    width: 50px;
                }
            }
            .twitter-date, .twitter-content {
                font-size: 12px;
            }
            .twitter-content {
                clear: both;
                line-height: 160%;
            }
        }
    }

    .sharedaddy{
        h3.sd-title{
            display:none;
        }
    }

    .wff-post-description{
        display:none;
    }

    #post_relacionados{
        margin-left: 8.3333333333%;
        border-top: 1px solid #444;
        padding-top: 20px;


        @media screen and (min-width: $screen-sm-min) {
            margin-left: 1.333333%;
            margin-right: 1.333333%;


           .col-md-3{
                margin-left: -6%;
                margin-bottom: 40px;
           }
        }
        
        .col-md-3{
            margin-left: -1%;
        }

        h3{
            font-size: 1.8em;
            text-transform: uppercase;
        }

        h4{
            font-size: 1.7em;
            margin-bottom: 20px;
            margin-top: 0;
            font-weight: 600;
            webkit-font-smoothing: antialiased;
            font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
            a{
                color:#000;
            }
        }
    }
}

#page-news {
    &.single {
        .banner {
            background-color: transparent;
            height: initial;
            margin: 40px 0;
            position: relative;
            min-height: 140px;
            max-height: 150px;
            @media screen and (min-width: $screen-sm-min) {
                margin: 40px 0 0px;
            }

            a{
                text-decoration: none;
                &:hover{
                    span{
                        color:#00C1B3;
                    }
                }   
            }
            .container {
                height: initial;
                position: relative;
                background:none;
            }
            .title {
                color: #000;
                min-height: 75px;
                position: static;
                padding-top: 15px;
                text-transform: uppercase;
                @media screen and (min-width: $screen-xs-min) {
                    padding-top: 10px;
                }
            }
        }
        .single-news {
            @extend .col-xs-11;
            @media screen and (min-width: $screen-sm-min) {
                @extend .col-sm-6;
            }
            @media screen and (min-width: $screen-md-min) {
                @extend .col-md-offset-1;
                @extend .col-md-6;
            }
            @media screen and (min-width: $screen-lg-min) {
                @extend .col-lg-offset-1;
                @extend .col-lg-7;
            }
        }
        article{
            header {
                border-bottom: 1px solid #ccc;
                margin-bottom: 30px;
                padding-bottom: 10px;
            }
            .post-date { 
                float: right;
                font-size: 11px;
            }
            .post-title {
                font-size: 2.5em;
                margin: 15px 0;
                font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
                font-weight: 600;
                -moz-osx-font-smoothing: grayscale;
            }
            p {
                font-size: 1.2em;
                line-height: 170%;
                margin-bottom: 20px;
            }
        }
    }

    .sharedaddy {
        h3.sd-title{ 
            display: none;
        }
    }

    .description-wrapper {
        display: none;
    }

    .wff-facebook-feed-title-div {
        width: 70%;
    }

    .wff-fb-item {
        margin: 10px;
        border-bottom: 1px solid #304594!important;
        overflow: hidden;
    }

    .wff-fb-item:last-child {
        border-bottom: 0;
    }

    .wff-date {
        font-size: 0.8em;
    }

    .wff-link-title {
        font-size: 1em;
    }

    .wff-post-description {
        font-size: 0.9em;
    }
}


#page-category{
    &.base-content {
        margin-top: 0;
    }
}


