@font-face {
	font-family: 'Teuton21Pro';
	src: url('../fonts/Teuton21Pro.woff') format('woff'),
		 url('../fonts/Teuton21Pro.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Teuton22Pro';
	src: url('../fonts/Teuton22Pro.woff') format('woff'),
		 url('../fonts/Teuton22Pro.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Teuton23Pro';
	src: url('../fonts/Teuton23Pro.woff') format('woff'),
		 url('../fonts/Teuton23Pro.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Teuton24Pro';
	src: url('../fonts/Teuton24Pro.woff') format('woff'),
		 url('../fonts/Teuton24Pro.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Teuton25Pro';
	src: url('../fonts/Teuton25Pro.woff') format('woff'),
		 url('../fonts/Teuton25Pro.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Teuton26Pro';
	src: url('../fonts/Teuton26Pro.woff') format('woff'),
		 url('../fonts/Teuton26Pro.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Teuton27Pro';
	src: url('../fonts/Teuton27Pro.woff') format('woff'),
		 url('../fonts/Teuton27Pro.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}