/* Teuton */

@font-face {
	font-family: 'Teuton21Pro';
	src: url('../fonts/Teuton21Pro.woff') format('woff'),
		 url('../fonts/Teuton21Pro.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Teuton22Pro';
	src: url('../fonts/Teuton22Pro.woff') format('woff'),
		 url('../fonts/Teuton22Pro.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal; 
}

@font-face {
	font-family: 'Teuton23Pro';
	src: url('../fonts/Teuton23Pro.woff') format('woff'),
		 url('../fonts/Teuton23Pro.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Teuton24Pro';
	src: url('../fonts/Teuton24Pro.woff') format('woff'),
		 url('../fonts/Teuton24Pro.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Teuton25Pro';
	src: url('../fonts/Teuton25Pro.woff') format('woff'),
		 url('../fonts/Teuton25Pro.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Teuton26Pro';
	src: url('../fonts/Teuton26Pro.woff') format('woff'),
		 url('../fonts/Teuton26Pro.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Teuton27Pro';
	src: url('../fonts/Teuton27Pro.woff') format('woff'),
		 url('../fonts/Teuton27Pro.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

/* Open Sans */

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-LightItalic-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}