@font-face {
	font-family: 'Teuton21Pro';
	src: url('../fonts/Teuton21Pro.eot');
	src: url('../fonts/Teuton21Pro.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Teuton21Pro.woff') format('woff'),
		url('../fonts/Teuton21Pro.ttf')  format('truetype'),
		url('../fonts/Teuton21Pro.svg#Teuton21Pro') format('svg');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Teuton22Pro';
	src: url('../fonts/Teuton22Pro.eot');
	src: url('../fonts/Teuton22Pro.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Teuton22Pro.woff') format('woff'),
		url('../fonts/Teuton22Pro.ttf')  format('truetype'),
		url('../fonts/Teuton22Pro.svg#Teuton22Pro') format('svg');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Teuton23Pro';
	src: url('../fonts/Teuton23Pro.eot');
	src: url('../fonts/Teuton23Pro.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Teuton23Pro.woff') format('woff'),
		url('../fonts/Teuton23Pro.ttf')  format('truetype'),
		url('../fonts/Teuton23Pro.svg#Teuton23Pro') format('svg');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Teuton24Pro';
	src: url('../fonts/Teuton24Pro.eot');
	src: url('../fonts/Teuton24Pro.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Teuton24Pro.woff') format('woff'),
		url('../fonts/Teuton24Pro.ttf')  format('truetype'),
		url('../fonts/Teuton24Pro.svg#Teuton24Pro') format('svg');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}


@font-face {
	font-family: 'Teuton25Pro';
	src: url('../fonts/Teuton25Pro.eot');
	src: url('../fonts/Teuton25Pro.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Teuton25Pro.woff') format('woff'),
		url('../fonts/Teuton25Pro.ttf')  format('truetype'),
		url('../fonts/Teuton25Pro.svg#Teuton25Pro') format('svg');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Teuton26Pro';
	src: url('../fonts/Teuton26Pro.eot');
	src: url('../fonts/Teuton26Pro.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Teuton26Pro.woff') format('woff'),
		url('../fonts/Teuton26Pro.ttf')  format('truetype'),
		url('../fonts/Teuton26Pro.svg#Teuton26Pro') format('svg');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Teuton27Pro';
	src: url('../fonts/Teuton27Pro.eot');
	src: url('../fonts/Teuton27Pro.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Teuton27Pro.woff') format('woff'),
		url('../fonts/Teuton27Pro.ttf')  format('truetype'),
		url('../fonts/Teuton27Pro.svg#Teuton27Pro') format('svg');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}





