$teuton-light: 'Teuton22Pro';
$teuton-normal: 'Teuton23Pro';

#footer-info{
	background:#095DAF;
	.content-footer{

            .widget_nav_menu{
                width:20%;
                float: left;
                
                h3{
                    color: #fff;
                    font-size: 14px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-family: $teuton-normal;

                }

                ul{
                    list-style:none;
                    padding: 0px;
                    margin: 2%;

                    li{	
                        a{
                            color:#2193d4;
                            font-family: $teuton-normal;
                            white-space: nowrap;
                        }

                    }

                }
            }
        }

    .social{
        margin-top:30px;
        text-align: center;
    	h4{
            font-family: $teuton-normal;
    		text-transform:uppercase;
    		color: #fff;
            
    	}

    	ul{
    		list-style:none;
            margin-left:0px;
            padding:0px;

    		li{
    			display: inline-block;
    			border-radius: 5px;
    			padding: 5px;
    			margin: 5px;
                font-size:2.2em;

    			a{
    				color:#fff;
                    font-family: $teuton-normal;
    			}
    		}
    	}

    	p{
    		color:#2193d4;
            text-align: center;
            font-family: 'Teuton22Pro';
    	}
    }
}

#footer{
	min-height: 80px;
    margin-bottom: 0;
    background-color: #007dc3;
    background: -webkit-gradient(linear,left top,left bottom,from(#007dc3),to(#1451a2));
    background: -webkit-linear-gradient(top,#007dc3,#1451a2);
    background: -moz-linear-gradient(top,#007dc3,#1451a2);
    background: -ms-linear-gradient(top,#007dc3,#1451a2);
    background: -o-linear-gradient(top,#007dc3,#1451a2);
    border-color: #1451a2;
    -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3);
    z-index: 900;
    font-family: 'teuton_24',sans-serif;

    .links-footer{
        a.timtec{
            display: inline-block;
            background-image:url("../../assets/images/logo-instituto-tim.png");
            width: 65%;
            height: 36px;
            background-size:contain;
            background-repeat:no-repeat;
            margin-top: 30px;
            font: 0/0 a;
            margin-top: 25px;
        }

        span{
            display: inline-block;
            margin: 22px 10px;
            font-size: 25px;
            vertical-align: top;
        }

        a.contato{
            color: #fff;
            font-family: Teuton23Pro;
            font-size: 1.1em;
            display: inline-block;
            margin: 30px 0px;
            vertical-align: top;
        }

    }

    
}