.page-header{
    font-family: $teuton23;
    color: $navy-blue;
    text-transform: uppercase;
    
    h1{
       font-size: 3em;
    }
}

.sidebar {
    max-width: 300px;
    
    h3 {
        font-family: $teuton23;
        color: $navy-blue;
        font-size: 2.2em;
    }

    ul {
        border:1 px solid #26356e;
        padding: 10px;
        
        li {
            list-style: none;
            
            a {
                font-family: $teuton23;
            }
        }
    }
}