$cor-cinza: #ededed;
$cor-branco: #ffffff;
$cor-azul: #26356e;
$teuton-light: 'Teuton22Pro';
$teuton-normal: 'Teuton23Pro';

.center{
	margin:0 auto;
	float:none;
}

.btn{
	width:200px;
	text-align: center;
	background: #05c3ff;
	color:#fff;
	font-family: 'Teuton23Pro';
	display:inline-block;
	border-radius:0px;
	text-transform:uppercase;
	margin:5px;

}

.btn_transparent{
	color: #05c3ff;
    font-family: 'Teuton23Pro';
    text-transform: uppercase;
    border: 1px solid #05c3ff;
    border-radius: 2px;
   padding: 10px 15px;
    
    &:hover{
    	text-decoration:none;
    }
}


.btn_branco{
	color: #ffffff;
    font-family: 'Teuton23Pro';
    text-transform: uppercase;
    border: 1px solid #ffffff;
    border-radius: 2px;
   padding: 10px 15px;
    
    &:hover{
    	text-decoration:none;
    }
}


#banner{
	background: url('../images/banner_top_home.png');
    background-position: 50% 0;
    
    .cerebro{
    	background: url('../images/cabeca.png');
    	background-repeat: no-repeat;
    	height: 700px;
    	margin-top: 60px;
    	padding-top: 120px;
    	
    	h3{
			width: 50%;
			font-family: Teuton24Pro;
		    color: #FFF;
		    font-size: 2.6em;
		    line-height: 1em;
		    text-transform: uppercase;
		    margin-left:28%;
		    margin-bottom:20px;
            text-align: center;
            
            span.titulo{
                font-size:0.6em;
                display: block;
            }
		}

		.itens-banner{
                    .item-banner {
                        cursor:pointer;
                    }
			width: 70%;
    		margin-left: 18%;
    		text-align: center;
    		
			h4{
				font-family: Teuton23Pro;
			    color: #fff;
			    font-size:2em;
                margin: 10px 0px 0px;
			}

			p{
				font-family: Teuton23Pro;
			    color: #fff;
			    font-size: 1em;
			    margin: 5px 10px 0;
			    text-align: center;
                line-height: 1.2em;
			}
				
			img{
				margin:0 auto;
			}

			a{
				color: #fff;
    			font-size: 1.5em;
			}
		}
    }
	
}

#section1{
	background:#304594;
	padding: 3% 0px;
	
	h3{
		font-family: Teuton24Pro;
	    color: #fff;
	    font-size: 4em;
	    margin-bottom: 20px;
	}

	.text{
		font-family: 'Open Sans',sans-serif;
        color: #fff;
        font-size: 1.2em;
        margin-bottom: 20px;
        line-height: 1.4em;
        margin-right: 100px;
        font-weight: 100;	
    }
    
    .links{
        margin-top: 28px;    
    }

    .linha-centro{
        display: inline-block;
        position: absolute;
        margin-top: -57px;
        margin-left: 10px;
        z-index: 0;
    }
    
    .icon-imgPrinc{
        width: 220px;
        position: absolute;
        z-index: 999;
        top: 140px;
        left: -122px;
    }

    .icon-imgSecun{
        position: absolute;
        width: 80px;
        top: 360px;
        left: -13px;
    }

    .icon-imgSecun2{
        position: absolute;
        width: 80px;
        top: 500px;
        left: -10px;
    }

    .img{
        margin-top: 68px;
        width:100%;
    }

}

#section2{
	background:#0aa8b2;
    padding: 3% 0px;


    h3{
        font-family: Teuton24Pro;
        color: #243670;
        font-size: 4em;
        margin-bottom: 20px;
        text-align: right;
    }

    .text{
        font-family: 'Open Sans',sans-serif;
        color: #243670;
        font-size: 1.2em;
        margin-bottom: 20px;
        line-height: 1.4em;
        font-weight: 100;
        margin-left: 20px;
        text-align: right;    
    }

    .text1{
        margin-top: 150px;
    }
    
    .links{
        margin-top: 28px; 
        text-align:right;   
    }

    .linha-centro{
        display: inline-block;
        position: absolute;
        margin-top: -57px;
        margin-left: 10px;
        z-index: 0;
        
        img{
            height: 797px;
        }
    }
    
    .icon-imgPrinc{
        width: 80px;
        position: absolute;
        z-index: 999;
        top: 90px;
        left: -15px;
    }

    .icon-imgSecun{
        position: absolute;
        width: 300px;
        top: 239px;
        left: -51px;
    }

    .icon-imgSecun2{
        position: absolute;
        width: 80px;
        top: 450px;
        left: -13px;
    }

    .img{
        margin-top: -30px;
    }

}

#section3{
	background:#304594;
    padding: 6px 0 57px;


    h3{
        font-family: Teuton24Pro;
        color: #fff;
        font-size: 4em;
        margin-bottom: 20px;
    }

    .text{
        font-family: 'Open Sans',sans-serif;
        color: #fff;
        font-size: 1.2em;
        margin-bottom: 20px;
        line-height: 1.4em;
        margin-right: 100px;
        font-weight: 100;   
    }
    
    .links{
        margin-top: 28px;    
    }


    .linha-centro{
        display: inline-block;
        position: absolute;
        margin-top: -462px;
        margin-left: 10px;
        z-index: 0;
        
        img{
            height: 716px;
            width: 6px;
        }
    }
    
    .icon-imgPrinc{
        width: 80px;
        position: absolute;
        z-index: 999;
        top: -383px;
        left: -13px;
    }

    .icon-imgSecun{
        position: absolute;
        width: 80px;
        top: -210px;
        left: -13px;
    }

    .icon-imgSecun2{
        position: absolute;
        width: 300px;
        top: -23px;
        left: -205px;
    }

    .img{
        width:100%;
    }
}

@media (min-width: 300px) and (max-width: 900px){
    .linha{
        display:none;
    }
}

/**
* Slide News
*/
#news{
    background:#354492;
    
    h3{
        color:#fff;
        display: inline-block;
        font-family: Teuton23Pro;
    }

    #newsCarouselWrapper{
        display: inline-block;
        width: 80%;
        a{
            color:#fff;
            
            &.categoria{
                color:#f50;
            }
        }
    }
}

 @media (min-width: 768px) and (max-width: 991px) {
      #newsCarousel .carousel-inner .item .item-item:last-child {
        display: none;
      }
   }
@media (max-width: 768px) {
     #newsCarousel .carousel-inner {
      height: 50px;
    }
 }

.carousel-inner {
  overflow-y: hidden;
 height: 20px;
}
.carousel-inner .active.left { left: -25%; }
.carousel-inner .next        { left:  25%; }
.carousel-inner .prev    { left: -25%; }
.carousel-control        { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}
.carousel-inner .item-item {
  padding:0!important;
}


#modal-home{
    position:absolute;
    z-index:9999;
    width: 100%;
    height: 100%;
    top: -60px;
    
    .bg-modal{
        -moz-opacity: 0.60;
        -khtml-opacity: 0.60;
        opacity: 0.60;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=60);
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
        filter: alpha(opacity=60);
        width: 100%;
        height: 100%;
        z-index: 999;
        position: absolute;
        background: #313131;
    }

    .modal{
        display: block;
        width: 580px;
        margin: 0 auto;
        border-radius: 020px;
        background: #fff;
        top: 150px;
        position: absolute;
        z-index: 999;
        height: 250px;
        border: 2px solid #AFC0EA;
        padding: 30px 40px;
        overflow: visible;
        
        h3{
            color: #2B4792;
            text-transform: uppercase;
            font-family: 'Open Sans',sans-serif;
            font-weight: bold;
            font-size: 3em;
            width: 350px;
            text-align: center;
            margin: 0 auto;
        }

        hr{
            border: 1px solid #AFC0EA;
            width: 480px;
        }

        p{
            color: #2B4792;
            font-family: 'Open Sans',sans-serif;
            width: 395px;
            margin: 0 auto;
            font-size: 1.3em;
            text-align: center;
        }

        a{
            color: #2B4792;
            text-decoration: underline;
            
            &:hover{
                color:#0035C1;
            }

        }

        .close{
            background: #2B4792;
            opacity: 1;
            color: #fff;
            font-weight: normal;
            text-shadow: none;
            border-radius: 20px;
            padding: 3px 9px 6px 10px;
            margin-top: -40px;
            margin-right: -50px;
            text-decoration: none;
            
            &:hover{
                color:#fff;
                text-decoration: underline;
            }

        }
    }
}
