$cor-cinza: #ededed;
$cor-branco: #ffffff;
$cor-azul: #26356e;
$teuton-light: 'Teuton22Pro';
$teuton-normal: 'Teuton23Pro';

.center{
	margin:0 auto;
	float:none;
}

.btn{
	width:200px;
	text-align: center;
	background: #05c3ff;
	color:#fff;
	font-family: 'Teuton23Pro';
	display:inline-block;
	border-radius:0px;
	text-transform:uppercase;
	margin:5px;

}

.btn_transparent{
	color: #05c3ff;
    font-family: 'Teuton23Pro';
    text-transform: uppercase;
    border: 1px solid #05c3ff;
    border-radius: 2px;
   padding: 10px 15px;
    
    &:hover{
    	text-decoration:none;
    }
}


.btn_branco{
	color: #ffffff;
    font-family: 'Teuton23Pro';
    text-transform: uppercase;
    border: 1px solid #ffffff;
    border-radius: 2px;
   padding: 10px 15px;
    
    &:hover{
    	text-decoration:none;
    }
}
#news{
	background:#354492;
	
	h3{
		color:#fff;
	}
}

#banner{
	background: url('../images/banner_top_home.png');
    background-position: 50% 0;
    
    .cerebro{
    	background: url('../images/cabeca.png');
    	background-repeat: no-repeat;
    	height: 700px;
    	margin-top: 60px;
    	padding-top: 120px;
    	
    	h3{
			width: 50%;
			font-family: Teuton24Pro;
		    color: #FFF;
		    font-size: 2.2em;
		    line-height: 1em;
		    text-transform: uppercase;
		    margin-left:28%;
		    margin-bottom:20px;
            text-align: center;
		}

		.itens-banner{
			width: 70%;
    		margin-left: 18%;
    		text-align: center;
    		
			h4{
				font-family: Teuton23Pro;
			    color: #fff;
			    font-size:2em;
			}

			p{
				font-family: Teuton23Pro;
			    color: #fff;
			    font-size: 1em;
			    margin: 10px;
			    text-align: center;

			}
				
			img{
				margin:0 auto;
			}

			a{
				color: #fff;
    			font-size: 1.5em;
			}
			
		}
    }
	
}

#section1{
	background:#304594;
	padding: 3% 0px;
	
	.linha-verde{
		display:inline-block;
	}

	h3{
		font-family: Teuton24Pro;
	    color: #fff;
	    font-size: 4em;
	    margin-bottom: 20px;
	}

	.text{
		font-family: 'Open Sans',sans-serif;
        color: #fff;
        font-size: 1.2em;
        margin-bottom: 20px;
        line-height: 1.4em;
        margin-right: 100px;
        font-weight: 100;	
    }
    
    .links{
        margin-top: 28px;    
    }

    .linha-verde{
        display: inline-block;
        position: absolute;
        margin-top: -57px;
        margin-left: 10px;
        z-index: 0;
    }
    
    .icon-imgPrinc{
        width: 220px;
        position: absolute;
        z-index: 999;
        top: 140px;
        left: -125px;
    }

    .icon-imgSecun{
        position: absolute;
        width: 90px;
        top: 360px;
        left: -15px;
    }

    .icon-imgSecun2{
        position: absolute;
        width: 90px;
        top: 500px;
        left: -15px;
    }

    .img{
        margin-top: 68px;
    }

}

#section2{
	background:#0aa8b2;
    padding: 3% 0px;
    
    .linha-verde{
        display:inline-block;
    }

    h3{
        font-family: Teuton24Pro;
        color: #243670;
        font-size: 4em;
        margin-bottom: 20px;
        text-align: right;
    }

    .text{
        font-family: 'Open Sans',sans-serif;
        color: #243670;
        font-size: 1.2em;
        margin-bottom: 20px;
        line-height: 1.4em;
        font-weight: 100;
        margin-left: 20px;
        text-align: right;    
    }

    .text1{
        margin-top: 150px;
    }
    
    .links{
        margin-top: 28px; 
        text-align:right;   
    }

    .linha-verde{
        display: inline-block;
        position: absolute;
        margin-top: -57px;
        margin-left: 10px;
        z-index: 0;
        
        img{
            height: 797px;
        }
    }
    
    .icon-imgPrinc{
        width: 80px;
        position: absolute;
        z-index: 999;
        top: 120px;
        left: -15px;
    }

    .icon-imgSecun{
        position: absolute;
        width: 220px;
        top: 270px;
        left: -25px;
    }

    .icon-imgSecun2{
        position: absolute;
        width: 80px;
        top: 480px;
        left: -15px;
    }

    .img{
        margin-top: -30px;
    }

}

#section3{
	background:#304594;
    padding: 3% 0px;
    
    .linha-verde{
        display:inline-block;
    }

    h3{
        font-family: Teuton24Pro;
        color: #fff;
        font-size: 4em;
        margin-bottom: 20px;
    }

    .text{
        font-family: 'Open Sans',sans-serif;
        color: #fff;
        font-size: 1.2em;
        margin-bottom: 20px;
        line-height: 1.4em;
        margin-right: 100px;
        font-weight: 100;   
    }
    
    .links{
        margin-top: 28px;    
    }


    .linha-verde{
        display: inline-block;
        position: absolute;
        margin-top: -462px;
        margin-left: 10px;
        z-index: 0;
        
        img{
            height: 716px;
            width: 6px;
        }
    }
    
    .icon-imgPrinc{
        width: 80px;
        position: absolute;
        z-index: 999;
        top: -340px;
        left: -20px;
    }

    .icon-imgSecun{
        position: absolute;
        width: 80px;
        top: -180px;
        left: -15px;
    }

    .icon-imgSecun2{
        position: absolute;
        width: 220px;
        top: 0px;
        left: -140px;
    }

    .img{
        margin-left: 60px;
    }

}
