$cor-cinza: #EAEAEA;
$cor-branco: #ffffff;
$cor-azul: #26356e;
$teuton-light: 'Teuton22Pro';
$teuton-normal: 'Teuton23Pro';


.btn{
	width:130px;
	text-align: center;
	background: #05c3ff;
	color:#fff;
	font-family: 'Teuton23Pro';
	display:inline-block;
	border-radius:0px;
	text-transform:uppercase;

}

#banner{
	background: #085daf;
	
	.text{
		h4{
			font-family: $teuton-normal;
			color:#fff;
			font-size: 3.5em;
		    text-transform: uppercase;
		    font-weight: bold;
		    margin: 35% 0%;
		    width:88%;
		}
	}

	.image{
		padding:10% 0px;
		
		img{
			width:100%;
		}
	}
	
}

#section1{
	background:$cor-branco;
	padding: 3% 0px;
	

	.text{
		text-align: center;
		margin-bottom: 10px;
		
		h2{
			font-family: $teuton-normal;
			color:#26356e;
			font-size:3em;
			margin-bottom: 20px;
		}

		p{	
			font-family: 'Teuton22Pro';
			color:#263671;
			font-size: 1.5em;
    		font-weight: 100;
		}
	}

	.boxs{
		margin-top:4%;
		
		.box{
			margin:2%;
			padding: 0% 15%;
    		text-align: center;
    		cursor:pointer;
    		
    		a{
    			text-decoration:none;
    			
				&:hover{
					text-decoration:none;
				}
    		}
    		
			.icon{ 
				width:45%;
				margin:20px auto;

				img{	
					width:100%;
					max-width: 120px;
					max-height:120px;
				}
			}

			.title{
				font-family: $teuton-normal;
				color:#404040;
				font-size:1.7em;
				margin-bottom: 15px;
			}

			.text{			
				font-family: 'Teuton22Pro';
				color:#263671;
				font-size: 1.2em;
	    		font-weight: normal;
	    		line-height: 1.4em;
			}
		}
	}

}

#section2{
	background:$cor-azul;
	max-height: 514px;
	padding: 5% 0 0px ;

	.text{
		text-align: left;
	
		
		h2{
			font-family: $teuton-normal;
			color:#fff;
			font-size:3.5em;
			margin-bottom: 20px;
			text-align:center;
		}

		p{	
			font-family: 'Teuton22Pro';
			color:#fff;
			font-size: 1.5em;
    		font-weight: 100;
    		text-align:center;
    		margin: 5% 10%;
		}
	}

}

#section3{
	background:$cor-branco;
	padding: 3% 0 0px ;

	.text{
		margin-top: 50px;
	
		h2{
			font-family: $teuton-normal;
			color:#26356e;
			font-size:3.5em;
			margin-bottom: 20px;
			text-align:center;
		}

		p{	
			font-family: 'Teuton22Pro';
			color:#263671;
			font-size: 1.5em;
    		font-weight: 100;
    		text-align:center;
    		margin: 5%;
		}
		
		.links{
			text-align:center;
		}
	}

	.image{
		img{
			
		}
	}

}

#section4{
	background:$cor-azul;
	padding: 5% 0px;
	margin-top: -40px;

	.text{
		text-align: left;
		margin-top: 50px;
		
		h2{
			font-family: $teuton-normal;
			color:#fff;
			font-size:3.5em;
			margin-bottom: 20px;
			text-align:center;
		}

		p{	
			font-family: 'Teuton22Pro';
			color:#fff;
			font-size: 1.5em;
    		font-weight: 100;
    		text-align:center;
    		margin: 5%;
		}
	}

	.image{
		img{
			width:90%;
		}
	}

}


