.btn_transparent {
	color: $cyan-blue;
    font-family: $teuton23;
    text-transform: uppercase;
    border: 1px solid $cyan-blue;
    border-radius: 2px;
    padding: 10px 15px;
    
    &:hover {
    	text-decoration: none;
    }
}

.btn_branco {
	color: #ffffff;
    font-family: $teuton23;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    border-radius: 2px;
    padding: 10px 15px;
    
    &:hover {
    	text-decoration:none;
    }
}


#banner {
	background: url('../images/banner_top_home.png');
    background-position: 50% 0;
    
    .cerebro {
    	background-image: url('../images/cabeca.png');
    	background-repeat: no-repeat;
    	height: 700px;
    	margin-top: 60px;
    	padding-top: 100px;
    	
    	h3 {
			width: 50%;
			font-family: $teuton24;
		    color: #FFF;
		    font-size: 2.6em;
		    line-height: 1em;
		    text-transform: uppercase;
		    margin-left:28%;
		    margin-bottom:20px;
            text-align: center;
            
            span.titulo {
                font-size:0.6em;
                display: block;
            }
		}

		.itens-banner {
            .item-banner {
                cursor:pointer;
            }
			width: 70%;
    		margin-left: 18%;
    		text-align: center;
    		
			h4 {
				font-family: $teuton23;
			    color: #fff;
			    font-size: 2em;
                margin: 10px 0px 0px;
			}

			p {
				font-family: $teuton23;
			    color: #fff;
			    font-size: 1em;
			    margin: 5px 10px 0;
			    text-align: center;
                line-height: 1.2em;
			}
				
			img {
				margin:0 auto;
			}

			a {
				color: #fff;
    			font-size: 1.5em;
			}
		}
    }
	
}
.section {
    padding: 60px 0;

    h3 {
        font-family: $teuton25;
        color: #fff;
        font-size: 4em;
        margin-bottom: 20px;
    }
    .text {
        font-size: 1.2em;
        margin-bottom: 20px;
        line-height: 1.4em;  
    }
    .linha-centro {
        display: inline-block;
        position: absolute;
        margin-top: -60px;
        margin-left: 9px;
        z-index: 0;
    }
    .icon-imgPrinc, .icon-imgSecun, .icon-imgSecun2 {
        position: absolute;
        z-index: 800;
    }
}

#software {
	background: #304594;

    @media screen and (min-width: $screen-lg-min) {
        padding-bottom: 100px;
    }

	.text {
        color: #fff;
        margin-right: 100px;	
    }
    
    .links {
        margin-top: 28px; 
    }
    
    .icon-imgPrinc {
        width: 220px;
        top: 140px;
        left: -122px;
    }

    .icon-imgSecun {
        width: 80px;
        top: 360px;
        left: -13px;
    }

    .icon-imgSecun2 {
        width: 80px;
        top: 500px;
        left: -10px;
    }

    .img {
        margin-top: 68px;
        width:100%;
    }

}

#courses {
	background:#0aa8b2;

    h3 {
        color: $timtec-blue;
        text-align: right;
    }

    .text {
        color: $timtec-blue;
        margin-left: 20px;
        text-align: right;    
    }

    .text1{
        margin-top: 150px;
    }
    
    .links{
        margin-top: 28px; 
        text-align: right;   
    }

    .linha-centro {
        margin-left: 10px;
        img {
            height: 800px;
        }
    }
    
    .icon-imgPrinc {
        width: 80px;
        top: 90px;
        left: -15px;
    }

    .icon-imgSecun {
        width: 300px;
        top: 239px;
        left: -51px;
    }

    .icon-imgSecun2 {
        width: 80px;
        top: 450px;
        left: -13px;
    }

    .img {
        margin-top: -30px;
    }

}

#network {
	background: #304594;

    h3 {
        font-family: $teuton24;
        color: #fff;
        font-size: 4em;
        margin-bottom: 20px;
    }

    .text{ 
        color: #fff;
        margin-right: 100px; 
    }
    
    .links {
        margin-top: 28px;    
    }

    .linha-centro {
        margin-left: 10px;       
        img {
            @media screen and (min-width: $screen-md-min) {
                height: 744px; 
                margin-top: -375px;
            }
            @media screen and (min-width: $screen-lg-min) {
                height: 772px; 
                margin-top: -455px;
            }
        }
    }
    
    .icon-imgPrinc {
        width: 80px;
        top: -383px;
        left: -13px;
    }

    .icon-imgSecun {
        width: 80px;
        top: -210px;
        left: -13px;
    }

    .icon-imgSecun2 {
        width: 300px;
        top: -23px;
        left: -205px;
    }

    .img {
        width:100%;
    }
}

/**
* Slide News
*/
#news {
    background:#354492;
    
    h3 {
        color:#fff;
        display: inline-block;
        font-family: $teuton23;
    }

    #newsCarouselWrapper {
        display: inline-block;
        width: 80%;
        a {
            color:#fff;
            
            &.categoria {
                color:#f50;
            }
        }
    }
}

 @media (min-width: 768px) and (max-width: 991px) {
      #newsCarousel .carousel-inner .item .item-item:last-child {
        display: none;
      }
   }
@media (max-width: 768px) {
     #newsCarousel .carousel-inner {
      height: 50px;
    }
 }

.carousel-inner {
  overflow-y: hidden;
 height: 20px;
}
.carousel-inner .active.left { left: -25%; }
.carousel-inner .next        { left:  25%; }
.carousel-inner .prev    { left: -25%; }
.carousel-control        { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}
.carousel-inner .item-item {
  padding:0!important;
}

#modal-home {
    position:absolute;
    z-index:9999;
    width: 100%;
    height: 100%;
    top: -60px;
    
    .bg-modal {
        -moz-opacity: 0.60;
        -khtml-opacity: 0.60;
        opacity: 0.60;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=60);
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
        filter: alpha(opacity=60);
        width: 100%;
        height: 100%;
        z-index: 999;
        position: absolute;
        background: #313131;
    }

    .modal {
        display: block;
        margin: 0 auto;
        border-radius: 20px;
        background: #fff;
        top: 150px;
        position: absolute;
        z-index: 999;
        border: 2px solid #AFC0EA;
        padding: 30px 40px;
        overflow: visible;
        margin: 0 10px;
        width: auto;
        max-height: 295px;
        @media screen and (min-width: $screen-xs-min) {
            max-height: 215px;
        }
        @media screen and (min-width: $screen-sm-min) {
            max-height: 250px;
            width: 650px;
            margin: 0 auto;
        }
        
        h3 {
            color: #2B4792;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 2em;
            max-width: 455px;
            text-align: center;
            margin: 0 auto;
            @media screen and (min-width: $screen-sm-min) {
                font-size: 3em;
            }
            a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        hr {
            border: 1px solid #AFC0EA;
            max-width: 480px;
        }

        p {
            color: #2B4792;
            max-width: 395px;
            margin: 0 auto;
            font-size: 1.3em;
            text-align: center;
        }

        a {
            color: #2B4792;
            text-decoration: underline;
            
            &:hover{
                color:#0035C1;
            }

        }

        .close {
            background: #2B4792;
            opacity: 1;
            color: #fff;
            font-weight: normal;
            text-shadow: none;
            border-radius: 20px;
            padding: 3px 9px 6px 10px;
            margin-top: -40px;
            margin-right: -50px;
            text-decoration: none;
            
            &:hover {
                color:#fff;
                text-decoration: underline;
            }
        }
    }
}
