.admin-bar {
    #main-navbar {
        top: 32px;
    }
}

#main-navbar {
    min-height: 58px;
    margin-bottom: 0;
    border-color: #1451a2;
    -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3);
    z-index: 900;
    background-color: #007dc3;
    background: -webkit-gradient(linear,left top,left bottom,from(#007dc3),to(#1451a2));
    background: -webkit-linear-gradient(top,#007dc3,#1451a2);
    background: -moz-linear-gradient(top,#007dc3,#1451a2);
    background: -ms-linear-gradient(top,#007dc3,#1451a2);
    background: -o-linear-gradient(top,#007dc3,#1451a2);
    z-index: 9999;
    
    .navbar-header{
        width: 40%;

        h1 {
            margin: 10px 0 0 0;
            width: 100%;
            height: 30px;

            a {  
                display: block;
                float:left;

                &.brand {
                    background-image:url("../../assets/images/logo-instituto-tim.png");
                    width: 50%;
                    height: 36px;
                    background-size:contain;
                    background-repeat:no-repeat;
                    margin-right: 10%;
                    @media ( max-width: 770px ){
                        width: 54%;
                    }
                }

                &.timtec {
                    background-image:url("../../assets/images/logo-timtec.png");
                    width: 25%;
                    height: 36px;
                    background-size:contain;
                    background-repeat:no-repeat;

                    @media ( max-width: 770px ){
                      width: 35%;
                    }
                }

                &:hover, 
                &:active {
                    text-decoration: none;
                    -webkit-transition: all .25s ease-out;
                    -o-transition: all .25s ease-out;
                    transition: all .25s ease-out;
                }

                &:focus {
                    background-color: transparent;
                }
            }
        }
    }

    .navbar-nav {
        border-top: 0;
        box-shadow: none;
        float: right;
        width: auto;
        @media ( max-width: 770px ){
            margin-right: -10px;
        }

        li.btn_acesse {
            a {
                font-family: $teuton22;
                color:#fff;
                border:1px solid #fff;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                padding: 5px;
                font-size: 12px;
                margin-top: 20%;
                margin-left: 15px;

                &:hover {
                    background: $menu-hover;
                }

                &:focus {
                    background-color: transparent;
                }
            }
        }
        .nav {
            @media screen and (min-width: $screen-sm-min) {
                float: left;
            }
            .menu-item {
                cursor: pointer;
                float: left;
                margin-left: 0;

                &.open, &:hover {
                    background-color: $menu-hover;
                }

                &.dropdown {
                    > a:after {
                        content: '\f0d7';
                        font-family: $icon-font-name;
                        font-size: 10px;
                    }
                    &.open {
                        > a:after {
                            content: '\f0d8';
                            font-family: $icon-font-name;
                            font-size: 10px;
                        }
                    }
                }

                > a {
                    border-bottom: 1px solid rgba(0,0,0,0.1);
                    @media screen and (min-width: $screen-sm-min) {
                        border-bottom: 0;
                    }
                }
                
                a {
                    color: #fff;
                    text-transform: uppercase;
                    padding: 20px 6px 15px;
                    font-family: $teuton23;
                    letter-spacing: 1px;
                    font-size: 16px;
                    text-decoration: none;
                    background-color: transparent;
                    @media ( max-width: 770px ){
                        font-size: 15px;
                    }
                    @media screen and (min-width: $screen-lg-min) {
                        padding: 20px 10px 15px;
                    }
                    &:hover  {
                        background-color: transparent;
                        text-decoration: none;
                    }
                    &:focus {
                        background-color: transparent;
                        text-decoration: none;
                    }
                }
            }
                
            .dropdown-menu {
                border-bottom: 1px solid rgba(0,0,0,0.2);
                border-radius: 0;
                min-width: 200px;
                background: $menu-hover;
                padding: 0px;
                @media screen and (min-width: $screen-sm-min) {
                    border-bottom: 0;
                    border-top: 0;
                    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
                    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
                    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
                }
                li {
                    display: block;
                    width: 100%;
                    font-size: 1em;
                    text-align: left;
                    white-space:nowrap;
                    
                    &:hover{
                        background: #085dae;
                    }
                    a {
                        border-bottom: 0;
                        padding: 12px;
                        text-transform: initial;
                        @media screen and (min-width: $screen-sm-min) {
                        text-transform: uppercase;
                        }
                    }
                }
            }
        }
        .menu-login, .menu-logado {
            @media screen and (min-width: $screen-sm-min) {
                float: left;
            }
            @media ( max-width: 770px ){
                margin-left: 20px;
            }
            a {
                color: #fff;
                display: block;
                font-family: $teuton23;
                letter-spacing: 1px;
                font-size: 13px;
                padding: 10px 10px 6px;
                text-decoration: none;
                text-transform: uppercase;
                &:hover {
                    background-color: $menu-hover;
                }
                @media screen and (min-width: $screen-sm-min) {
                    text-align: center;
                }
            }
        }
        .menu-login {
            .icon {
                background-image:url("../../assets/images/icone-login.png");
                display: inline-block;
                height: 21px;
                margin: 5px 10px 6px 0px;
                width: 21px;
                vertical-align: middle;
                @media screen and (min-width: $screen-sm-min) {
                    display: block;
                    margin: 0 auto 3px;
                }
            }
        }
        .menu-logado {
            .icon {
                background: #fff;
                border-radius: 50%;
                box-sizing: border-box;
                color: $menu-hover;
                display: inline-block;
                font-family: $teuton25;
                font-size: 12px;
                height: 21px;
                margin: 5px 10px 6px 0px;
                padding: 2px 0;
                text-align: center;
                width: 21px;
                @media screen and (min-width: $screen-sm-min) {
                    display: block;
                    margin: 0 auto 3px;
                }
            }
        }
    }
}

.nav {
    .open {
        a:focus {
            background-color: transparent;
        }
    }
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: initial !important;
}

#modal-login {
   hr{
    border-top: 1px solid #5D2FAA!important;
   }
}