.main{
    padding:0px;
    margin-top: 58px;
}



#main-navbar{
    min-height: 58px;
    margin-bottom: 0;
    border-color: #1451a2;
    -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3);
    z-index: 900;
    background-color: #007dc3;
    background: -webkit-gradient(linear,left top,left bottom,from(#007dc3),to(#1451a2));
    background: -webkit-linear-gradient(top,#007dc3,#1451a2);
    background: -moz-linear-gradient(top,#007dc3,#1451a2);
    background: -ms-linear-gradient(top,#007dc3,#1451a2);
    background: -o-linear-gradient(top,#007dc3,#1451a2);
  

    
    .navbar-header{
        width:40%;

        h1{
            margin: 10px 0 0 0;
            width: 100%;
            height: 30px;

            a{  
                display: block;
                float:left;

                &.brand{
                    background-image:url("../../assets/images/logo-instituto-tim.png");
                    width: 50%;
                    height: 36px;
                    background-size:contain;
                    background-repeat:no-repeat;
                    margin-right:10%;
                }

                &.timtec{
                    background-image:url("../../assets/images/logo-timtec.png");
                    width: 25%;
                    height: 36px;
                    margin-left: 5%;
                    background-size:contain;
                    background-repeat:no-repeat;
                }

                &:hover, 
                &:active{
                    text-decoration: none;
                    -webkit-transition: all .25s ease-out;
                    -o-transition: all .25s ease-out;
                    transition: all .25s ease-out;
                }

            }

        }

    }
    

    .navbar-nav{
        border-top: 0;
        box-shadow: none;
        float: right;
        width: auto;

        li.btn_acesse{
            a{
                font-family: $teuton22;
                color:#fff;
                border:1px solid #fff;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                padding: 5px;
                font-size: 12px;
                margin-top: 20%;
                margin-left: 15px;

                &:hover{
                    background:$menu-hover;
                }
            }
        }

        li{
            float:left;
            cursor:pointer;
            
            ul.sub-menu{
                    display:none;
                    min-width: 200px;
                    background: $menu-hover;
                    position: absolute;
                    z-index: 999;
                    padding: 0px;
                    top: 59px;
                    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
                    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
                    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
                    
                    li{
                        display: block;
                        width: 100%;
                        font-size: 1em;
                        text-align: left;
                        padding: 5px;
                        white-space:nowrap;
                        
                        &:hover{
                            background:#085dae;
                        }
                    }
            }

            &:hover{
                background-color: $menu-hover;
                ul.sub-menu{
                    display:block;
                }
            }
            

            a{
                color:#fff;
                text-transform: uppercase;
                padding: 20px 10px 15px;
                font-family: $teuton23;
                letter-spacing: 1px;
                font-size: 16px;
                text-decoration:none;


                &:hover  {
                    background-color: transparent;
                    text-decoration:none;
                }
            }

        }

    }
    
}