#page-conselho{
    
    h3 {
        font-family: Teuton24Pro;
        color: #243670;
        font-size: 4em;
        margin-bottom: 20px;
        font-weight: bold;
        margin-top: 60px;
    }

    p{
        font-family: 'Open Sans',sans-serif;
        color: #243670;
        font-size: 1.1em;
        margin-bottom: 20px;
    }

    .list-conselho{
        ul{
            margin: 40px 0px;
            padding: 0px;
    
            
            li{
                font-family: 'Open Sans',sans-serif;
                list-style:none;
                clear: both;
                height: 120px;
                
                h4{
                    display:inline;
                    
                }
                
                p{
                    display:inline;
                }

                img{
                    width:130px;
                    height:105px;
                    float:left;
                    margin-right: 10px
                }
            }
        }
    }
}

#page-course{
    #section2{
        background:#f7f7f7;
        padding:0px;
        margin-top: 20px;
        
        ul{
            margin: 0px;
            padding: 0px;
    
            li{
                display: inline-block;
                width: 30%;
                background: #fff;
                vertical-align:top;
                margin:1%;
                
                img{
                        width: 100%;
                }
                
                .content-curso{
                    padding:10px;
                    
                    h4{
                        color: #414141;
                        font-family: Teuton23Pro;
                        font-size: 1.6em;
                    }
                    
                    .author{
                        color:#a5a5a5;
                        font-size:0.9em;
                        font-family: 'Open Sans',sans-serif;
                    }

                    p{
                        color: #414141;
                        font-size:1em;
                        font-family: 'Open Sans',sans-serif;
                    }

                    a{
                        color:#05c3ff;
                        font-family: Teuton23Pro;
                        text-transform: uppercase;
                        font-weight: bold;
                    }

                }
                
                
            }
        }
    }
}


.page-id-144{

    #fbuilder .medium {
        width: 100% !important;
        padding-left: 0;
        padding-right: 0;
        padding: 6px;
    }

    #fbuilder .small {
        width: 100% !important;
        padding-left: 0;
        padding-right: 0;
        padding: 6px;
    }
        
    .main{
        margin: 50px auto 150px;
        float: none;
        width:100%;
        max-width: 1170px;
        
        label {
            display: inline-block;
            max-width: 100%;
            font-family: Teuton24Pro;
            color: #243670;
            font-size: 1.5em;
            font-weight: 700;
        }

        .pbSubmit{
            width: 100%;
            text-align: center;
            background: #05c3ff;
            color: #fff;
            font-family: Teuton23Pro;
            display: inline-block;
            border-radius: 0;
            text-transform: uppercase;
            margin: 5px;
            font-size: 1.5em;
        }
    }
}