@import "pages/_default-styles"; // estilos que servem para toda as páginas
@import "pages/_default-template"; // template padrão das páginas sobre, software e redes
@import "pages/_conselho";
@import "pages/_contact";
@import "pages/_courses";
@import "pages/_teacher";
@import "pages/_faq";
@import "pages/_forum";
@import "pages/_news";