#page-conselho{
    
    h3 {
        font-family: $teuton24;
        color: $navy-blue;
        font-size: 4em;
        margin-bottom: 20px;
        font-weight: bold;
        margin-top: 60px;
    }

    p {
        
        color: $navy-blue;
        font-size: 1.1em;
        margin-bottom: 20px;
    } 

    .list-conselho{
        ul{
            margin: 40px 0px;
            padding: 0px;
    
            
            li{
                
                list-style:none;
                clear: both;
                height: 120px;
                
                h4{
                    display:inline;
                    
                }
                
                p{
                    display:inline;
                }

                img{
                    width:130px;
                    height:105px;
                    float:left;
                    margin-right: 10px
                }
            }
        }
    }
}

#page-course {
    #section2 {
        background: transparent;
        padding:0px;
        margin-top: 20px;
        
        ul {
            background:#f7f7f7;
            margin: 1.1% 0 0;
            padding: 0px;
    
            li {
                display: inline-block;
                background: #fff;
                text-align: left;
                vertical-align: top;
                margin: 1% auto;
                max-width: 350px;
                width: 100%; 
                @media screen and (min-width: $screen-sm-min) {
                    margin: 1.1%;
                    max-width: auto;
                    width: 47%;
                }
                @media screen and (min-width: $screen-md-min) {
                    margin: 1.1%;
                    width: 30.8%;
                }
                
                img {
                        width: 100%;
                }
                
                .content-curso {
                    max-height: 340px;
                    padding: 10px;
                    
                    h4 {
                        color: #414141;
                        font-family: $teuton23;
                        font-size: 1.6em;
                        margin: 0 0 5px; 
                    }

                    .author {
                        color: #a5a5a5;
                        font-size: 0.9em;
                        
                    }

                    .description {
                        p {
                            color: #414141;
                            font-size: 1em;
                            
                        }
                    }

                    a {
                        color: #fff;
                        font-family: $teuton23;
                        text-transform: uppercase;
                        font-weight: bold;
                        &.moretag {
                            color: #05c3ff;
                            text-decoration: underline; 
                            &:hover {
                                text-decoration: none;
                            }
                        }
                        &.btn {
                            display: inline-block;
                            margin: 0;
                            width: 120px;
                        }
                        &.btn + .btn {
                            margin-left: 10px;
                        } 
                        &.goto {
                            background-color: #FF8969;
                            &:hover { 
                                background-color: #E67860;
                            }
                            &:focus, &:active {
                                background-color: #E67860;
                            }
                        }
                        &.download {
                            background-color: #C5D1EA;
                            &:hover { 
                                background-color: #4d70b5;
                            }
                            &:focus, &:active {
                                background-color: #3d5990;
                            }
                        }
                    }
                }
            }
        }
    }
}

#page-faq {
    h3 {
        margin-top: 0;
    }
    .panel-group {
        .panel+.panel {
            margin-top: 15px;
        }
    }
    .panel-default {
        border: 0;
        box-shadow: none;
        >.panel-heading {
            background: transparent;
            border: 1px solid #ccc;
            border-radius: 0;
            padding: 0;
            .panel-title {
                color: #666;
                font-weight: normal;
                margin: 0;
                width: 100%;
                a {
                    color: #666;
                    display: table;
                    overflow: hidden;
                    padding: 10px;
                    width: 100%;
                    &:hover, &:active, &:focus { 
                        background: #eee;
                        text-decoration: none;
                    }
                    .text {
                        display: table-cell;
                        float: left;
                        line-height: 145%;
                        margin-right: 50px;
                    }
                    .icon {
                        border: 1px solid #ccc;
                        border-radius: 50%;
                        display: table-cell;
                        float: right;
                        height: 30px;
                        width: 30px;
                        text-align: center;
                        &:before {
                            color: #ccc;
                            content: '+';
                            font-family: 'Open Sans', sans-serif;
                            font-size: 25px;
                            font-weight: 300;
                        }
                    }
                }
                a[aria-expanded="true"] {
                    .icon {
                        &:before {
                            content: '–'; 
                        }
                    }
                }
            }
        }
        .panel-body {
            border: 0;
            padding: 25px 40px;
            p {
                color: #999;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

#page-forum {
    .not-found {
        .dwqa-btn {
            color: #fff;
            margin-left: 10px;
        }
        a {
            color: $navy-blue;
        }
    }
}

.contato {

    #fbuilder {

        .medium {
            width: 100% !important;
            padding-left: 0;
            padding-right: 0;
            padding: 6px;
        }

        .small {
            width: 100% !important;
            padding-left: 0;
            padding-right: 0;
            padding: 6px;
        }

        .fields {
            label {
                color: #666;
                font-family: 'Teuton24Pro';
                font-size: 22px;
                font-weight: normal;
                padding: 9px 30px 9px 0;
                text-align: right;
                width: 190px;
            }
        } 
        input, textarea {
            border: 1px solid #ccc;
            padding: 12px 6px !important; 
        }
        .pbreak .pbPrevious, .pbreak .pbNext, .pbSubmit {
            float: right;
        }
        .pbSubmit {
            text-align: center;
            background: #05c3ff;
            color: #fff;
            font-family: $teuton23;
            font-size: 1.5em;
            display: inline-block;
            border-radius: 0;
            text-transform: uppercase;
            margin: 5px auto;
            width: 150px;
        }
    }
}

#forum-question {
    h1 {
        font-size: 24px;
        margin: 36px 0 24px; 
    }
}