.linha-mobile {
    display: none;
}

@media screen and (max-width: $screen-md-max) {
    #main-navbar {
        .navbar-header {
            h1 {
                a.brand {
                    margin-top: 3px; 
                }
            }
        }
    }
    #banner {
        background-position: 30% 0;
        background-size: cover;
        .cerebro {
            background-position: 2px 0px;
            background-size: 94%;    
        }
    }
}
@media screen and (max-width: $screen-sm-max) {
    #main-navbar {
        .navbar-header {
            width: 35%;
            h1 {
                margin: 18px 0 0;
                a.brand {
                    margin-right: 3%; 
                }
                a.brand, a.timtec {
                    height: 25px; 
                }
            }
        }
        .navbar-nav {
            padding: 0;
        }
    }
    #banner {
        .cerebro {
            background: url('../images/cabeca-mobile.png');
            background-position: top center;
            background-repeat: no-repeat;
            background-size: contain;  
            margin-top: 20px; 
            padding-top: 190px;

            h3 {
                font-size: 3em;
                margin: 0 auto;
                width: 300px;
            }  
        }
    }
    .section {
        padding: 0;
        text-align: center;
        .row {
            position: relative;
        }
        h3 {
            margin: 0 0 10px; 
        }
        .title {
            padding: 25px 0;
        }
        .text {
            color: #fff;
            margin: 0 !important;
        }
        .links {
            margin: 15px 0;
        }
        h3, .text, .links {
            text-align: center !important;
        }
        .title, .text, .links {
            position: relative;
            z-index: 1;
        }
    }
    .linha-mobile {
        display: block;
        height: 100%;
        left: 50%;
        margin-left: -4px;
        opacity: 0.2;
        overflow: hidden;
        position: absolute;
        width: 8px;
        z-index: 0;
    }
}
@media screen and (max-width: $screen-xs-max) {
    #main-navbar {
        .navbar-header {
            margin: 0;
            padding: 0;
            width: 100%;
        
            h1 {
                margin: 14px 0 0 0;
                height: 30px;
                width: 60%;
                float: left;
                 a.timtec {
                    height: 30px;
                }
            }
            .navbar-toggle{
                border-color: #fff;
                color: #fff;
                font-family: $teuton23;
                margin: 15px 0 0;
                padding: 3px 10px;
                text-transform: uppercase;
                &:hover, &:active {
                    background-color: $menu-hover;
                }
            } 
        }
        .navbar-nav {
            float: none;
            margin-bottom: 0;
            margin-top: 14px;
            padding: 0;
            li {
                float: none;
                width: 100%;
                a {
                    padding: 12px 15px 10px;
                }
            }
        }
    }
    #news {
        h3 {
            font-size: 14px;
            margin: 10px 0;
            float: left;
            text-transform: uppercase;
        }
        #newsCarouselWrapper {
            padding-right: 0;
            width: 75%;
        }
    }
}
@media screen and (max-width: 540px) { // custom breakpoint only for minor fix
    #banner {
        .cerebro {
            height: 385px;
            padding-top: 65px;
            h3 {
                font-size: 2.6em;
                width: 185px;
            }
        }
    }
    .linha-mobile {
        margin-left: -3px;
        width: 5px;
    }
}
@media screen and (max-width: $screen-xs) {
    #main-navbar {
        .navbar-header {
            h1 {
                margin: 18px 0 0 0;
                width: 80%;
                a.brand {
                    margin-top: 2px;
                    margin-right: 0;  
                }
                a.timtec {
                    height: 25px;
                    margin-left: 15px;
                }
            }
        }
    }
}