.clear{
	clear:both;
}

.base-content{
    margin-bottom: 60px;
    margin-top: 60px;

    h3 {
        font-family: Teuton24Pro;
        color: #243670;
        font-size: 4em;
        margin-bottom: 20px;
        font-weight: bold;
        margin-top: 60px;
    }

    h4 {
        font-family: Teuton24Pro;
        color: #243670;
        font-size: 1.5em;
        margin-bottom: 20px;
        font-weight: bold;
        margin-top: 60px;
        
        &.subtitle{
            text-decoration:underline;
            font-size: 2em;
        }
    }

    p{
        font-family: 'Open Sans',sans-serif;
        color: #243670;
        font-size: 1.1em;
        margin-bottom: 10px;
    }

	.box{
		width: 45%;
	    background: #05c3ff;
	    color: #fff;
	    display: inline-block;
	    border-radius: 0;
	    text-transform: uppercase;
	    margin: 40px 15px;
	    text-align: left;
	    font-family: 'Open Sans',sans-serif;
	    padding: 10px 15px;
	    font-size: 0.9em;
	}

}

