.base-content{
	#banner{
		.image{
		    margin: 60px auto 0px;
		    text-align: center;
		    padding: 5%;
			    
			img{
				width:auto;
			}
		} 

		.text{
			text-align:center;
			padding-bottom:50px;
			h4{
				font-family: 'Teuton23Pro';
			    margin: 0px auto;
			    width: 60%;
			}
		}

		.icon-seta{
			display: inline-block;
		    width: auto;
		    font-size: 3em;
		    color: #00c5fe;
		    margin-left: 49%;
		    margin-bottom: 5%;
		    cursor:pointer;
		}
	}

	#section1{
		background:$cor-cinza;
		.text{
			width:50%;
			margin:10px auto;
			text-align:center;
			.btn{
				margin-top:5%;
			}
		}
	}

	#section2{
		max-height: none;
		background:#fff;
		
		.text{
			margin:10px auto;
			text-align:center;
			h2{
				color:#26356e;
				margin: 10px;
			}

			p{
				color:#263671;
				margin: 10px 0px 40px;
			}

			.btn{
				width:150px;
			}
		}

		.list-courses{
			margin:20px 0px;

			ul{
				li{
					list-style: none;
				    display: block;
				    width: 25%;
				    float: left;
				    
				    h4{
				    	font-family: 'Teuton23Pro';
				    }

					a{
						display:inline-block;
						font-family: verdana,sans-serif;
					    color: #656565;
					    font-size: 1.1em;
					    font-weight: 100;
					    text-align:center;
					}
				}
			}		
		}

	}

	#section3{
		background:$cor-cinza;
		padding: 3% 0px;
		
		.image{
			max-width: 250px;
		    margin-bottom: -57px;
		    margin-left: 15%;
			img{
				width:100%;
			}
		}

		.text {
		    h2{
		    	text-align:left;
		    }

		    p{
		    	text-align:left;
		    	margin:0px;
		    	margin-bottom: 40px;
		    }

		    .btn_transparent{
		    	margin-top:10px;
		    }
	    }
	}
}

#page-software{
	#section2{
		background:$cor-azul;
		
		h2{
			color:#ffffff;
		}
		
		p{
			color:#fff;
		}

		ul{
			width: 60%;
    		margin-left: 25%;
    		
			li{
				float: left;
			    width: 50%;
			    color: #fff;
			    margin: 0px;
			    padding: 0px;
			    text-align: left;
			    font-family: 'Teuton22Pro';
    			font-size: 1.5em;
    			 margin-bottom: 20px;
			    
			    &:before{
			    	content: " • ";
			    	font-size: 12px;
				    display: inline-block;
				    vertical-align: middle;
				    margin-right: 10px;
			    }
			}
		}
	}

	#section3{
		.text{
			text-align:center;
			h2{
				text-align:center;
			}

			p{
				text-align: center;
			}
			
			ul{
				margin-top:80px;
				li{
					display: inline-block;
   					width: 20%;
   					vertical-align: top;
   					
   					img{
   					  margin-bottom:10px; 
   					}

   					p{
   						font-family: 'Teuton23Pro';
   						text-align: center;
   						width: 50%;
    					margin-left: 25%;
   					}
				}
			}
		}
	}

	#section4{
		background:$cor-azul;
		.text{
			margin-left: 10%;
			    
			h2{
				color:#ffffff;
				text-align:left;
			}

			p{
				color:#ffffff;
				text-align:left;
				margin: 0px 0 30px;
			}

			a{
				margin-right: 10px;
			    display: inline-block;
			    margin-bottom: 10px;
			}
		}

		.image{
			width: 30%;
			
			img{
				width: 100%;
			    position: absolute;
			    left: 10%;
			    top: 80px;
			}
		}
	}

	#section5{
		background:#ffffff;
		padding: 3% 0px;
		
		.text{
			margin-left: 10%;
			    
			h2{
				text-align:left;
				color:#26356e;
				font-family: 'Teuton23Pro';    
				font-size: 3.5em;
				margin-bottom: 20px;
			}

			p{
				color:#26356e;
				text-align:left;
				margin: 0px 0 30px;
				font-family: 'Teuton23Pro';
				font-size: 1.5em;
			}

			a{
				margin-right: 10px;
			    display: inline-block;
			    margin-bottom: 10px;
			}
		}

		.image{
			width: 30%;
			
			img{
				width: 100%;
			    position: absolute;
			    left: 10%;
			    top: 80px;
			}
		}
	}

}