html {
  position: relative;
  min-height: 100%;
}

body {
    padding-bottom: 270px;

    @media screen and (min-width: $screen-md-min) {
        padding-bottom:: 135px;
    }

}

.center {
    margin: 0 auto;
    float: none;
}

.btn {
    width: 200px;
    text-align: center;
    background: #05c3ff;
    color: #fff;
    font-family: $teuton25;
    display: inline-block;
    border-radius: 0px;
    text-transform: uppercase;
    margin: 5px;
    padding: 6px;
}

.clear{
    clear:both;
}

.base-content{
    margin-bottom: 60px;
    margin-top: 60px;

    h3 {
        font-family: $teuton25;
        color: $navy-blue;
        font-size: 4em;
        margin-bottom: 20px;
        margin-top: 0px;
    }

    h4 {
        font-family: $teuton25;
        color: $navy-blue;
        font-size: 1.5em;
        margin-bottom: 20px;
        margin-top: 60px;
        
        &.subtitle{
            text-decoration:underline;
            font-size: 2em;
        }
    }

    p {
        font-size: 1.1em;
        margin-bottom: 10px;
    }

    .box {
        width: 45%;
        background: #05c3ff;
        color: #fff;
        display: inline-block;
        border-radius: 0;
        text-transform: uppercase;
        margin: 40px 15px;
        text-align: left;
        padding: 10px 15px;
        font-size: 0.9em;
    }
}