html {
  position: relative;
  min-height: 100%;
}

body {
    @media screen and (min-width: $screen-lg-min) {
        padding-bottom: 230px;
    }

    @media screen and (min-width: $screen-md-min) {
        padding-bottom: 250px;
    }

    @media screen and (min-width: $screen-sm-min) {
        padding-bottom: 210px;
    }
    
}

/* fix bootstrap modal padding */
body, .navbar-fixed-top, .navbar-fixed-bottom {
  padding-right: 0 !important;
}

.center {
    margin: 0 auto;
    float: none;
}

.btn {
    width: 200px;
    text-align: center;
    background: $cyan-blue;
    color: #fff;
    font-family: $teuton25;
    display: inline-block;
    border-radius: 0px;
    text-transform: uppercase;
    margin: 5px;
    padding: 6px;
}

.clear{
    clear:both;
}

.main {
    padding: 0px !important;
    margin-top: 58px;
}

.base-content{
    margin-bottom: 58px;
    margin-top: 58px;

    h3 {
        font-family: $teuton25;
        color: $timtec-blue;
        font-size: 4em;
        margin-bottom: 20px;
        margin-top: 0px;
    }

    h4 {
        font-family: $teuton25;
        color: $timtec-blue;
        font-size: 1.5em;
        margin-bottom: 20px;
        margin-top: 60px;
        
        &.subtitle{
            text-decoration:underline;
            font-size: 2em;
        }
    }

    p {
        font-size: 1.1em;
        margin-bottom: 10px;
    }

    .box {
        width: 45%;
        background: $cyan-blue;
        color: #fff;
        display: inline-block;
        border-radius: 0;
        text-transform: uppercase;
        margin: 40px 15px;
        text-align: left;
        padding: 10px 15px;
        font-size: 0.9em;
    }
}