// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Breakpoints
$break-small: 600px;
$break-large: 1200px;

// Colors
$brand-primary:     #095DAF;
$menu-hover:        #0d4c8f;

$gray:              #ededed;
$white:             #ffffff;
$timtec-blue:       #243670;
$navy-blue:         #085FAC;
$cyan-blue:         #05c3ff;
$orange:            #df4231;

// Fonts
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$teuton22: "Teuton22Pro", $font-family-sans-serif;
$teuton23: "Teuton23Pro", $font-family-sans-serif;
$teuton24: "Teuton24Pro", $font-family-sans-serif;
$teuton25: "Teuton25Pro", $font-family-sans-serif;
$teuton26: "Teuton26Pro", $font-family-sans-serif;
$teuton27: "Teuton27Pro", $font-family-sans-serif;